body {
    background-color: #48cae4;
}

button:not(.abc button) {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 18px;
    padding: 8px;
    border-radius: 6px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(28, 164, 64) 0%, rgb(37, 155, 33) 50%, rgb(59, 208, 84) 100%);
    border: 2px solid rgb(34, 156, 12);
    display: inline-block;
}

button:hover:not(.abc) {
    font-size: 20px;
}

p+button {
    background-color: aqua;
}

input:hover:not(.love input) {
    width: 200px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 50.0s;
}

a:hover {
    text-decoration: underline;
}

::selection {
    background-color: #f8961e;
}

.circle {
    background-color: violet;
    width: 300px;
    height: 300px;
    font-size: 35px;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: 3s;
}

.circle:hover {
    background-color: yellowgreen;
    border-radius: 50%;
}

/* section div{
    height: 100px;
    width: 100px;
    background-color: #f8961e;
    margin: 20px 0;
    transition: margin-left 2s;
}
section:hover div{
    margin-left: 500px;
} 